In [1]:
import sys
sys.path.append('../')
from hatespeech import preprocessing

c:\users\thora\appdata\local\programs\python\python36\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")
Using TensorFlow backend.

In [2]:
train_path = '../Data/Datasets/train_data.csv'
dev_path = '../Data/Datasets/dev_data.csv'
test_path = '../Data/Datasets/test_data.csv'

In [3]:
texts, labels, cnt = preprocessing.load_datasets(train_path, dev_path, test_path)

Counter({2: 6000, 0: 6000, 1: 6000})

In [4]:
import html
def convert_html_emojis(corpus):
    new_corpus = []
    for text in corpus:
        text = html.unescape(text)
        new_corpus.append(text)
    return new_corpus

In [5]:
from nltk.tokenize import TweetTokenizer
import regex as re
def tokenize_texts_characters(corpus):
    """
    Tokenizes a list of texts. ...!
    """
    corpus = convert_html_emojis(corpus)    
    tknzr = TweetTokenizer(preserve_case=False, reduce_len=True, strip_handles=True)
      
    token_doc_list = []
    token_list = []
  
    for text in corpus:   

        tokens = tknzr.tokenize(text)
        tokens2 = []
        for token in tokens:
            token = re.sub(r'([1234567890!"#$%&()*+,./:@;?[\]^`{|}_~\t\n])', '', token)
            if token != '':
                tokens2.append(token)
                
        tmp_tokens = []
        for i, token in enumerate(tokens2):

            if token == "i'd":
                token_list.extend(['i', 'would'])
                tmp_tokens.extend(['i', 'would'])
            else: 
                token_list.append(token)
                tmp_tokens.append(token)
           
        token_doc_list.append(tmp_tokens)
        
    final_texts = []
    for doc in token_doc_list:
        t = " ".join(doc)
        final_texts.append(t)
    return token_doc_list

In [6]:
import pandas as pd
def get_new_texts(texts):
    texts_tokenized = tokenize_texts_characters(texts)
    new_texts = []
    for t in texts_tokenized:
        text = " ".join(t)
        new_texts.append(text)
    df = pd.DataFrame(columns=['label', 'text'])
    for i, text in enumerate(new_texts):
        df = df.append({'label': labels[i], 'text':text}, ignore_index=True)
    df_sorted = df.sort_values(by=['label'])
    return df_sorted, texts_tokenized

In [7]:
df_sorted, texts_tokenized = get_new_texts(texts)

In [8]:
df_0 = df_sorted[df_sorted['label'] == 0]
df_1 = df_sorted[df_sorted['label'] == 1]
df_2 = df_sorted[df_sorted['label'] == 2]

In [9]:
from collections import Counter
def get_counter(df):
    l = []
    for text in df['text']:
        text = text.split()
        l.extend(text)
    return Counter(l)

In [10]:
cnt0 = get_counter(df_0)
cnt1 = get_counter(df_1)
cnt2 = get_counter(df_2)

In [11]:
def revert(text_list):
    word_list=[]
    for text in text_list:
        for word in text:
            word_list.append(word)
    return word_list

In [12]:
from collections import Counter
tt = revert(texts_tokenized)

In [13]:
c = Counter(tt)

In [14]:
import pandas as pd
df = pd.DataFrame()

In [23]:
df = df.append(cnt2, ignore_index=True)

In [24]:
df

,,,,,,,,-,',-,...,󾬏,󾭛,󾭜,󾭻,󾮖,󾮗,󾮝,󾮟,󾮠,󾰑
0,1.0,1.0,1.0,1.0,11.0,4.0,3.0,1.0,678.0,483.0,...,1.0,3.0,1.0,1.0,1.0,1.0,2.0,4.0,2.0,1.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.0,117.0,...,1.0,3.0,1.0,1.0,1.0,1.0,2.0,4.0,2.0,1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,355.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
as_list = df.index.tolist()
idx = as_list.index(0)
as_list[idx] = 'all'
df.index = as_list

In [29]:
df

,,,,,,,,-,',-,...,󾬏,󾭛,󾭜,󾭻,󾮖,󾮗,󾮝,󾮟,󾮠,󾰑
all,1.0,1.0,1.0,1.0,11.0,4.0,3.0,1.0,678.0,483.0,...,1.0,3.0,1.0,1.0,1.0,1.0,2.0,4.0,2.0,1.0
hate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183.0,77.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
offensive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,140.0,117.0,...,1.0,3.0,1.0,1.0,1.0,1.0,2.0,4.0,2.0,1.0
neutral,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,355.0,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df=df.fillna(0)

In [31]:
df = df.sort_values(by=['all'], axis=1, ascending = False)

In [32]:
df

,you,a,the,i,to,rt,bitch,and,is,that,...,httptcodyQTJtlg,httptcodyYvrEJAm,httptcodyawomzlu\n\n\nhttpstcotxoflj,httptcoeAGkXDGH,httptcoeMNAdOQOj,httptcoeRJMveF,httptcoeRT…,httptcoeVxgIPgc,httptcoeYbWLVukim,󾰑
all,7593.0,6299.0,5039.0,4774.0,3828.0,3567.0,2784.0,2762.0,2347.0,2182.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
hate,5124.0,2117.0,1169.0,1050.0,978.0,231.0,208.0,804.0,656.0,543.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
offensive,1547.0,2394.0,1513.0,1970.0,1175.0,1874.0,2562.0,868.0,611.0,868.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
neutral,922.0,1788.0,2357.0,1754.0,1675.0,1462.0,14.0,1090.0,1080.0,771.0,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0

In [33]:
import pickle
pickle.dump( df, open( "word_occurence_matrix_18000.p", "wb" ) )

In [ ]:
df_100 = df.iloc[:,:200]

In [ ]:
df_100

In [ ]:
d1 = df_100[1:]

In [ ]:
d1=d1.T

In [ ]:
d1=d1.fillna(0)

In [ ]:
list(d1.index)